[defaults]

inventory=inventory.ini
remote_user=ec2-user
forks= 8
#logs=give the path of directory where you need the logs
#also while giving command if you give ansible -vv playbook.yaml (it stores few info)
#ansible -vvv playbook.yaml (still more infor if required )